[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "irrigation-arduino/libs/Arduino-SerialCommand"]
	path = irrigation-arduino/libs/Arduino-SerialCommand
	url = https://github.com/kroimon/Arduino-SerialCommand.git
[submodule "irrigation-arduino/libs/Time"]
	path = irrigation-arduino/libs/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "irrigation-arduino/libs/DS3232RTC"]
	path = irrigation-arduino/libs/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC.git
